aiodns
aiohappyeyeballs
aiohttp
aiosignal
attrs
ccxt
certifi
cffi
charset-normalizer
cryptography
frozenlist
idna
llvmlite
lxml
multidict
numba
numpy
pandas
pandas-datareader
pandas-ta 
propcache
psutil
psycopg2
pycares
pycparser
python-dateutil
python-dotenv
python-ntlm
pytz
requests
scipy
six
# ta-lib @ file:///D:/Programacao/Bybit_Watcher/assets/ta_lib-0.6.3-cp312-cp312-win_amd64.whl
TA-Lib
typing_extensions
tzdata
urllib3
yarl

# Para testes e paralelização
pytest
pytest-timeout
pytest-xdist
